
/* FIRST-CONTENT */
#dev{
    margin-left: 0.5rem;
}
    .content-history{
        margin-bottom: 4rem;
     
    }

    
    .first-content-history{
        font-size: 1.6rem;
        color:rgba(255,255,255,1);
     
    }
    .first-content-history-p1{
     
      margin-left: 0rem;
    }
    .first-content-history-p2{
       padding-top: 0rem;
    }

    #seb1-history{
        width: 10.7rem;
        height: 10.7rem;
     
       
        object-fit: cover;
      
    }


    /* FOOTER */
.style-footer-history{
    margin: 1rem 1rem 1rem 1rem;

}



.col-foto{
  
}


@media screen and (min-width: 200px) and (max-width: 299px) {
    body{
        background: rgb(0,168,255);
background: radial-gradient(circle, rgba(0,168,255,1) 14%, rgba(0,139,211,1) 56%, rgba(0,116,176,1) 81%, rgba(0,68,102,1) 98%, rgba(0,77,116,1) 100%, rgba(0,100,151,1) 100%, rgba(0,0,0,1) 100%);
    }
    .img-container{
        width: 10rem;
        height: 10rem;
        margin-bottom: 3rem;
    }
    .img-container img {
        width: 12rem;
        height: 12rem;
        margin-left: 8%;
       
        

    }
    #dev{
        margin-left: -0.5rem;
    }
  }
  




@media screen and (min-width: 300px) and (max-width: 389px) {
    body{
        background: rgb(0,168,255);
background: radial-gradient(circle, rgba(0,168,255,1) 14%, rgba(0,139,211,1) 56%, rgba(0,116,176,1) 81%, rgba(0,68,102,1) 98%, rgba(0,77,116,1) 100%, rgba(0,100,151,1) 100%, rgba(0,0,0,1) 100%);
    }
    .img-container{
        width: 10rem;
        height: 10rem;
        margin-bottom: 3rem;
    }
    .img-container img {
        width: 12rem;
        height: 12rem;
        margin-left: 18%;
       
        

    }
    #dev{
        margin-left: -1rem;
    }
  }
  


  @media screen and (min-width: 390px) and (max-width: 449px){
    body{
        background: rgb(0,168,255);
background: radial-gradient(circle, rgba(0,168,255,1) 14%, rgba(0,139,211,1) 56%, rgba(0,116,176,1) 81%, rgba(0,68,102,1) 98%, rgba(0,77,116,1) 100%, rgba(0,100,151,1) 100%, rgba(0,0,0,1) 100%);
    }
    .img-container{
        width: 10rem;
        height: 10rem;
        margin-bottom: 3rem;
    }
    .img-container img {
        width: 12rem;
        height: 12rem;
        margin-left: 20%;
       
        

    }
    #dev{
        margin-left: -2.4rem;
    }
  }
  



@media screen and (min-width: 450px) and (max-width: 500px) {
    body{
        background: rgb(0,168,255);
background: radial-gradient(circle, rgba(0,168,255,1) 14%, rgba(0,139,211,1) 56%, rgba(0,116,176,1) 81%, rgba(0,68,102,1) 98%, rgba(0,77,116,1) 100%, rgba(0,100,151,1) 100%, rgba(0,0,0,1) 100%);
    }
    .img-container{
        width: 10rem;
        height: 10rem;
        margin-bottom: 3rem;
    }
    .img-container img {
        width: 12rem;
        height: 12rem;
        margin-left: 20%;
       
        

    }
    #dev{
        margin-left: 0.2rem;
    }
  }

  
  @media screen and (min-width: 501px) and (max-width: 541px) {
    body{
        background: rgb(0,168,255);
background: radial-gradient(circle, rgba(0,168,255,1) 14%, rgba(0,139,211,1) 56%, rgba(0,116,176,1) 81%, rgba(0,68,102,1) 98%, rgba(0,77,116,1) 100%, rgba(0,100,151,1) 100%, rgba(0,0,0,1) 100%);
    }
    .img-container{
        width: 10rem;
        height: 10rem;
        margin-bottom: 3rem;
    }
    .img-container img {
        width: 12rem;
        height: 12rem;
        margin-left: 20%;
       
        

    }
    #dev{
        margin-left: -5rem;
    }
   
  }

  @media screen and (min-width: 542px) and (max-width: 770px) {
    body{
        background: rgb(0,168,255);
background: radial-gradient(circle, rgba(0,168,255,1) 14%, rgba(0,139,211,1) 56%, rgba(0,116,176,1) 81%, rgba(0,68,102,1) 98%, rgba(0,77,116,1) 100%, rgba(0,100,151,1) 100%, rgba(0,0,0,1) 100%);
    }
    .img-container{
        width: 10rem;
        height: 10rem;
        margin-bottom: 3rem;
    }
    .img-container img {
        width: 12rem;
        height: 12rem;
        margin-left: 20%;
       
        

    } 
    #dev{
        margin-left: -2rem;
    }
   
  }
  

  @media screen and (min-width: 771px) and (max-width: 950px) {
    body{
        background: rgb(0,168,255);
background: radial-gradient(circle, rgba(0,168,255,1) 14%, rgba(0,139,211,1) 56%, rgba(0,116,176,1) 81%, rgba(0,68,102,1) 98%, rgba(0,77,116,1) 100%, rgba(0,100,151,1) 100%, rgba(0,0,0,1) 100%);
    }
    .img-container{
        width: 10rem;
        height: 10rem;
        margin-bottom: 3rem;
    }
    .img-container img {
        width: 12rem;
        height: 12rem;
        margin-left: 20%;
       
        

    }
    #dev{
        margin-left: -2rem;
    }
   
  }
  @media screen and (min-width: 951px) and (max-width: 1025px) {
 
    #dev{
        margin-left: 0rem;
    }
   
  }

  @media screen and (min-width: 1026px) and (max-width: 1126px) {
 
    #dev{
        margin-left: 0rem;
    }
   
  }


  @media screen and (min-width: 1127px) and (max-width: 1300px) {
 
    #dev{
        margin-left: -0.9rem;
    }
   
  }








